# Pandas Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.

**Import pandas and read in the 'data/Ecommerce Purchases.csv' file and set it to a DataFrame called ecom.**

In [20]:
import pandas as pd

In [28]:
ecom = pd.read_csv('C:/Users/lenovo/Downloads/Ecommerce Purchases.csv')

**Check the head of the DataFrame.**

In [30]:
ecom.head()

,Purchase Price,Language,Job,AM or PM,Lot,Credit Card,Email,CC Provider,CC Exp Date
0,98.14,en,Engineer,AM,90 WT,4926535242672853,john@example.com,American Express,11/25
1,22.34,fr,Lawyer,PM,36 QT,1234567890123456,jane@lawfirm.com,VISA,08/24
2,77.89,en,Artist,AM,77 FS,9876543210987654,artlover@mail.com,MasterCard,05/23
3,120.50,es,Lawyer,PM,22 ZL,1111222233334444,maria@pmail.com,American Express,12/25
4,58.45,en,Doctor,AM,19 KO,5555666677778888,dr.smith@clinic.org,VISA,07/26

**How many rows and columns are there?**

In [32]:
ecom.shape

(5, 9)

**What is the average Purchase Price?**

In [34]:
ecom['Purchase Price'].mean()

75.464

**What were the highest and lowest purchase prices?**

In [36]:
ecom['Purchase Price'].max()

120.5

In [ ]:
ecom['Purchase Price'].min()

**How many people have English 'en' as their Language of choice on the website?**

In [38]:
ecom[ecom['Language'] == 'en'].shape[0]

3

**How many people have the job title of "Lawyer" ?**

In [40]:
ecom[ecom['Job'] == 'Lawyer'].shape[0]

2

**How many people made the purchase during the AM and how many people made the purchase during PM ?**

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )**

In [42]:
ecom['AM or PM'].value_counts()

AM or PM
AM    3
PM    2
Name: count, dtype: int64

**What are the 5 most common Job Titles?**

In [44]:
ecom['Job'].value_counts().head(5)

Job
Lawyer      2
Engineer    1
Artist      1
Doctor      1
Name: count, dtype: int64

**Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

In [46]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price'].values[0]

98.14

**What is the email of the person with the following Credit Card Number: 4926535242672853**

In [48]:
ecom[ecom['Credit Card'] == 4926535242672853]['Email'].values[0]

'john@example.com'

**How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [50]:
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)].shape[0]

2

**Hard: How many people have a credit card that expires in 2025?**

In [52]:
ecom[ecom['CC Exp Date'].apply(lambda x: x.split('/')[1] == '25')].shape[0]

2

**Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)**

In [54]:
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

Email
example.com    1
lawfirm.com    1
mail.com       1
pmail.com      1
clinic.org     1
Name: count, dtype: int64

# Great Job!